$yellow: #e8b810;
$yellow-invert: #fff;
$blue: #1747ef;
$black: #2c3542;
$text: #352b2b;
$grey: #dbdbdb;
$white: white;
$gold: rgb(245, 244, 237);

$primary: $black;
$accent: $yellow;
$primary-invert: $gold;
$red: hsl(348, 86%, 61%);

$danger: #ff470fff;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
