$yellow: #e8b810;
$yellow-invert: #fff;
$blue: #1747ef;
$black: #000000;
$text: #352b2b;
$grey: #dbdbdb;
$white: white;
$gold: rgb(245, 244, 237);

$primary: #2c3542;
$accent: $yellow;
$primary-invert: $gold;
$red: hsl(348, 86%, 61%);

