//@import "./bamboo.min.css";

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans&display=swap');
@import "colors";

// 5. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables";

$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "bulma/bulma";

body, button, input, optgroup, select, textarea, html {
  @media screen {
    color: $black;
  }
  @media print {
    color: black;
  }
  font-family: 'Open Sans', sans-serif, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html, body {
  @media screen {
    font-size: 14px;
    background: #fafafa;
  }
  @media screen and (min-width: 769px) {
    font-size: 18px;
  }
  @media print {
    font-size: 12px;
  }
  text-align: left;
}

.container {
  overflow: hidden;
  @media screen and (min-width: 769px) {
    overflow: visible;
  }
}

.content ul, .pointed-list {
  list-style: none !important;

  li {
    margin-bottom: 0.25em;
  }
}

.content h4 {
  margin-top: 1.6em;
}

.content h3 {
  margin-top: 1.3em;
}

.content h2 {
  margin-top: 1em;
}

.content h1 {
  margin-top: 1em;
}

.button.is-text {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.pointed-list li::before, .content ul li::before {
  content: "\2022";
  color: $primary;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 26px;
  line-height: 18px;
  margin-bottom: -5px;
}

button, .button {
  border-radius: 0;
}

.title, .is-fancy {
  font-family: 'Forum', "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.is-primary {
  background: $primary;
  color: $primary-invert;
}

.jcc {
  display: flex;
  justify-content: center;
}

.jcsb {
  display: flex;
  justify-content: space-between;
}

.fdc {
  display: flex;
  flex-direction: column;
}

.aic {
  display: flex;
  align-items: center;

}

.wrap {
  flex-wrap: wrap;
}

.aifs {
  display: flex;
  align-items: flex-start !important;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.ma {
  margin: auto;
}

.b {
  font-weight: 700;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  background: $primary;
  color: $primary-invert;
  height: 50px;
  @media print {
    display: none;
  }
  @media screen and (min-width: 769px) {
    font-size: 16px;
    height: 60px;
  }

  .navbar-item, .navbar-link, .navbar-burger {
    color: $primary-invert;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active, &:focus {
      background: transparent;
      color: $primary-invert;
    }
  }

  z-index: 900;

  transition: color 0.2s 0.1s, background-color 0.2s 0.1s;
}

.navbar-burger {
  height: 50px;
  @media screen and (min-width: 769px) {
    height: 60px;
  }
}

.navbar-brand {
  align-items: center;
}

.navbar-logo-img {
  height: 50px;
  @media screen and (min-width: 769px) {
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
    margin-left: 0;
  }
}


.navbar-logo-link {
}

.navbar-transparent {
  box-shadow: none;
  background: linear-gradient(180deg, rgba(11, 10, 10, 0.4) -7.27%, rgba(0, 0, 0, 0.312) 40.1%, rgba(11, 10, 10, 0) 190.45%);

  .navbar-item, .navbar-link {
    color: $primary-invert;
  }

  .navbar-item:hover {
    color: $primary-invert;
    background: rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 1023px) {
    .navbar-menu.is-active, .navbar-item {
      color: $text;
    }
  }
  @media screen and (max-width: 1023px) {
    .navbar-lang-content {
      color: $primary-invert;
    }
  }
}

.navbar-brand-logo {
  transition: opacity 0.2s 0.2s, width 0.2s;
  height: 100%;
  opacity: 1;
  width: 50px;
  @media screen and (min-width: 768px) {
    width: 100px;
  }
}

.navbar-brand-logo-hidden {
  width: 0;
  opacity: 0;
}

.navbar-item {
  padding: 0.5rem 1.75rem;
}

.navbar .navbar-item {
  @media screen and (max-width: 1024px) {
    color: $text;
  }
}

.main {
  @media screen {
    margin-top: 50px;
  }
  @media screen and (min-width: 769px) {
    margin-top: 60px;
  }
}

/////////////////// PRINT

.a4 {
  @media print {
    width: 210mm;
    height: 297mm;
  }
}

////////////////////////////

.homepage-hero {
  width: 100%;
  min-height: 90vh;
  position: relative;
  @media screen and (min-width: 769px) {
    padding-top: 60px;
  }
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.homepage-hero-content {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.homepage-title {
  display: flex;
  align-items: center;
  font-family: 'Forum', "Times New Roman", Times, serif;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 0;
  }
  //text-transform: uppercase;
  @media screen and (min-width: 1330px) {
    font-size: 90px;
    line-height: 120px;
  }
}


.homepage-hero-text-logo {
  height: 100px;
  @media screen and (min-width: 1330px) {
    height: 120px;
  }
}

.home-text {
  margin-top: -50px;
  @media screen and (min-width: 769px) {
    margin-top: 50px;
  }
  @media screen and (min-width: 1025px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
  }
}

.padded-mobile {
  @media screen and (max-width: 1024px) {
    padding: 0 1rem;
  }
}


.homepage-logo {
  @media screen and (max-width: 768px) {
    width: 100%;
    display: block;
    margin: auto;
    min-height: 300px;
  }
  @media screen and (min-width: 769px) {
    margin-left: -100px;
    min-height: 350px;
    width: 700px;
  }
  @media screen and (min-width: 1025px) {
    margin-left: -171px;
  }
}

.home-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //text-transform: uppercase;
  .button.is-text:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  .button {
    width: auto;
    min-width: 200px;
  }

  & .button:not(:first-child) {
    margin-top: 0.5em;
  }

  @media screen and (min-width: 556px) {
    flex-direction: row;
    margin-top: 2rem;
    & .button:not(:first-child) {
      margin-left: 1em;
      margin-top: 0;
    }
    .button {
      width: auto;
      min-width: 200px;
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    justify-content: flex-start;
    .button {
      //padding: 1.5rem 3rem;
      width: auto;
    }
  }
  @media screen and (min-width: 1025px) {
    margin-top: 3rem;
  }
}

//////////////////////////////

.adv-section {
  width: 100%;
  padding-top: 60px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 1025px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    min-height: 70vh;
  }

}

.timeline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 70vh;
  @media screen and (max-width: 1024px) {
    height: auto;
    grid-row: 2;
  }
}

.timeline-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  @media screen and (min-width: 1025px) {
    column-gap: 130px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 130px;
  }
}

.timeline-text-col {
  text-align: right;
}

.timeline-text-col-left {
  text-align: right;
  margin-top: -125px;
  @media screen and (min-width: 500px) {
    margin-top: -215px;
  }
  @media screen and (min-width: 1025px) {
    margin-top: -250px;
  }
}

.timeline-text-col-right {
  text-align: left;
  margin-bottom: -200px;
  @media screen and (min-width: 1025px) {
    margin-bottom: -200px;
  }
}

.timeline-text {
  color: $text;

  .timeline-text-year:hover {
    text-decoration: none;
  }
}

.timeline-text-title {

}

.timeline-text-year {
  font-family: 'Forum', "Times New Roman", Times, serif;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  @media screen and (min-width: 1025px) {
    font-size: 40px;
  }
}


.timeline-line {
  height: 100%;
  position: absolute;
  pointer-events: none;
  width: 600px;
  left: 50%;
  transform: translate(-50%, 0);
  @media screen and (min-width: 1025px) {
  }
}

.market-text-container {
  order: 1;
  @media screen and (max-width: 1024px) {
    grid-row: 1;
  }
  padding: 0 2em 4em 2em;
  @media screen and (min-width: 1025px) {
    padding: 0 2em 4em 0;
  }
}


////////////////////////////////

img {
  max-width: 100%;
}

.tal {
  text-align: left;
}

.jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jcfs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.no-print {
  @media print {
    display: none;
  }
}

.no-screen {
  @media screen {
    display: none;
  }
}

.modal-content {
  @media screen and (min-width: 1024px) {
    width: 800px;
  }
}

.navbar-lang {
  position: relative;
  min-width: 50px;
  padding: 0;
  height: 50px;
  @media screen and (min-width: 1024px) {
    height: 60px;
  }
}

.navbar-lang-content {
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5rem 1.75rem;
}

.navbar-lang-menu {
  position: absolute;
  top: 50px;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  @media screen and (min-width: 769px) {
    top: 60px;
    height: 60px;
  }
}

.navbar-lang-menu-item {
  height: 50px;
  background: $white;
  color: $text;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 769px) {
    height: 60px;
  }
  cursor: pointer;
  &:hover {
    background: $grey;
  }
  text-transform: uppercase;
}

.mobile-only {
  @media screen and (min-width: 1024px) {
    display: none !important;
  }
}

.desktop-only {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.pba {
  page-break-after: always;
  page-break-inside: auto;
}

.pbn {
  page-break-inside: avoid;
}

.is-link {
  text-decoration: underline;
  text-underline-offset: 2px;
}
