//@import "./bamboo.min.css";

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:wght@300..800&display=swap');
@import "colors";
@import "style.css";
@import "navbar";

body,
button,
input,
optgroup,
select,
textarea,
html {
    @media screen {
        color: $text;
    }
    @media print {
        color: black;
    }
    font-family:
        "Open Sans",
        sans-serif,
        BlinkMacSystemFont,
        -apple-system,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        sans-serif;
}

html,
body {
    @media screen {
        font-size: 14px;
        background: #fafafa;
    }
    @media screen and (min-width: 769px) {
        font-size: 18px;
    }
    @media print {
        font-size: 12px;
    }
    text-align: left;
}

.container {
    margin: auto;
    max-width: 960px;
    min-width: 100%;
    overflow: hidden;
    @media screen and (max-width: 959px) {
        padding: 0 1rem;
    }
    @media screen and (min-width: 769px) {
        overflow: visible;
    }
    @media screen and (min-width: 960px) {
        min-width: 960px;
    }
}

.button.is-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.pointed-list li::before,
.content ul li::before {
    content: "\2022";
    color: $primary;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 26px;
    line-height: 18px;
    margin-bottom: -5px;
}

button,
.button {
    border-radius: 0;
}

.title,
.is-fancy {
    font-family: "Forum", serif;
    text-transform: uppercase;
}

.is-primary {
    background: $primary;
    color: $primary-invert;
}

.jcc {
    display: flex;
    justify-content: center;
}

.jcsb {
    display: flex;
    justify-content: space-between;
}

.fdc {
    display: flex;
    flex-direction: column;
}

.aic {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.aifs {
    display: flex;
    align-items: flex-start !important;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.ma {
    margin: auto;
}

.b {
    font-weight: 700;
}

.main {
    @media screen {
        margin-top: 50px;
    }
    @media screen and (min-width: 769px) {
        margin-top: 100px;
    }
}

/////////////////// PRINT

.a4 {
    @media print {
        width: 210mm;
        height: 297mm;
    }
}

////////////////////////////

.homepage-hero {
    width: 100%;
    height: 90vh;
    position: relative;
    @media screen and (min-width: 769px) {
        padding-top: 60px;
    }
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.bg-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.homepage-hero-content {
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.homepage-title {
    color: $gold;
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-top: 100px;

    flex-direction: row;
    font-size: 40px;
    line-height: 80px;
    margin-bottom: 0;
    //text-transform: uppercase;
    @media screen and (min-width: 1330px) {
        font-size: 90px;
        line-height: 120px;
    }
}

.homepage-hero-text-logo {
    height: 100px;
    @media screen and (min-width: 1330px) {
        height: 120px;
    }
}

.homepage-hero-content {
    z-index: 999;
    display: block;
    position: relative;
    color: $white;
}

.home-text {
    margin-top: -50px;
    @media screen and (min-width: 769px) {
        margin-top: 50px;
    }
    @media screen and (min-width: 1025px) {
        margin-top: 80px;
    }
    @media screen and (max-width: 1024px) {
        padding: 0 2rem;
    }
    .homepage-title {
        color: rgba($gold, 0.95);
    }
}

.padded-mobile {
    @media screen and (max-width: 1024px) {
        padding: 0 1rem;
    }
}

.homepage-logo {
    @media screen and (max-width: 768px) {
        width: 100%;
        display: block;
        margin: auto;
        min-height: 300px;
    }
    @media screen and (min-width: 769px) {
        margin-left: -100px;
        min-height: 350px;
        width: 700px;
    }
    @media screen and (min-width: 1025px) {
        margin-left: -171px;
    }
}

.home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //text-transform: uppercase;
    .button {
        height: 60px;
        padding: 0em 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background: $primary;
        line-height: 60px;
        text-align: center;
    }
    .button:hover {
        background: $black;
    }
    .button {
        width: auto;
        min-width: 200px;
    }

    & .button:not(:first-child) {
        margin-top: 0.5em;
    }

    @media screen and (min-width: 556px) {
        flex-direction: row;
        margin-top: 2rem;
        & .button:not(:first-child) {
            margin-left: 1em;
            margin-top: 0;
        }
        .button {
            width: auto;
            min-width: 200px;
            display: block;
        }
    }
    @media screen and (min-width: 769px) {
        justify-content: flex-start;
        .button {
            //padding: 1.5rem 3rem;
            width: auto;
        }
    }
    @media screen and (min-width: 1025px) {
        margin-top: 3rem;
    }
}
///////////////////

.content img {
    max-width: 900px;
    @media screen and (max-width: 959px) {
        max-width: calc(100% - 2rem);
    }
}

.tal {
    text-align: left;
}

.jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jcfs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.no-print {
    @media print {
        display: none;
    }
}

.no-screen {
    @media screen {
        display: none;
    }
}

.modal-content {
    @media screen and (min-width: 1024px) {
        width: 800px;
    }
}

.navbar-lang {
    position: relative;
    min-width: 50px;
    padding: 0;
    height: 50px;
    @media screen and (min-width: 1024px) {
        height: 60px;
    }
}

.navbar-lang-content {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.5rem 1.75rem;
}

.navbar-lang-menu {
    position: absolute;
    top: 50px;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    @media screen and (min-width: 769px) {
        top: 60px;
        height: 60px;
    }
}

.navbar-lang-menu-item {
    height: 50px;
    background: $white;
    color: $text;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 769px) {
        height: 60px;
    }
    cursor: pointer;
    &:hover {
        background: $grey;
    }
    text-transform: uppercase;
}

.mobile-only {
    @media screen and (min-width: 1024px) {
        display: none !important;
    }
}

.desktop-only {
    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.pba {
    page-break-after: always;
    page-break-inside: auto;
}

.pbn {
    page-break-inside: avoid;
}

.is-link {
    text-decoration: underline;
    text-underline-offset: 2px;
}

h4, h5, .content h4, .content h5  {
    font-weight: 500;
}

.is-hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25em;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    position: relative;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2 {
    font-weight: 700;
}
