@import "colors";

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: $primary;
  color: $primary-invert;
  height: 60px;
  display: flex;
  z-index: 9999;
  @media print {
    display: none;
  }

  a:not(.navbar-lang-menu-item) {
    color: $primary-invert;
    box-sizing: border-box;
    display: flex;
  }

  @media screen and (min-width: 769px) {
    font-size: 16px;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  max-height: 60px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.navbar-start {
  display: flex;
  max-height: 60px;
}

.navbar-menu {
  max-height: 100%;
  display: flex;
  align-items: center;
}

.navbar-item {
  &:hover {
    text-underline-color: transparent;
    border-bottom-color: $gold;
    border-collapse: collapse;
  }
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 1.75rem;
}

.navbar-item,
.navbar-link {
  color: $primary-invert;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:active,
  &:focus {
    background: transparent;
    color: $primary-invert;
  }
  z-index: 900;
  transition: color 0.2s 0.1s,
  background-color 0.2s 0.1s;
}

.navbar-burger {
  height: 50px;
  @media screen and (min-width: 769px) {
    height: 60px;
  }
}

.navbar-brand {
  display: none;
  align-items: center;
  max-width: 120px;

  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.navbar-logo-img {
}

@media screen and (min-width: 1024px) {
  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: 0;
  }
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  max-height: 60px;
  border-bottom: none !important;
  img {
    display: block;
    margin: auto;
  }
}

.navbar-transparent {
  box-shadow: none;
  background: linear-gradient(
                  180deg,
                  rgba(11, 10, 10, 0.4) -7.27%,
                  rgba(0, 0, 0, 0.312) 40.1%,
                  rgba(11, 10, 10, 0) 190.45%
  );

  .navbar-item,
  .navbar-link {
    color: $primary-invert;
  }

  .navbar-item:hover {
    color: $primary-invert;
    background: rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 1023px) {
    .navbar-lang-content {
      color: $primary-invert;
    }
  }
}

.navbar-brand-logo {
  transition: opacity 0.2s 0.2s,
  width 0.2s;
  height: 100%;
  opacity: 1;
  width: 50px;
  @media screen and (min-width: 768px) {
    width: 100px;
  }
}

.navbar-brand-logo-hidden {
  width: 0;
  opacity: 0;
}
