@import "../../styles/colors";

.army-container {
  display: grid;
  @media screen and (min-width: 769px) {
    column-gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 768px) {
    row-gap: 24px;
  }

}
.army-stat-container {
  display: flex;
  flex-wrap: wrap;
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  &>* {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}


.army-column {

}

.army-stat-column {

}

.choices-list {

}

.choice-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed rgba($blue, 0.3);
  background: $white;

  padding: 8px;
  margin-bottom: 8px;
  @media screen and (min-width: 769px) {
    padding: 8px 16px;
    margin-bottom: 12px;
  }
  cursor: pointer;

  &:hover {
    border: 1px solid rgba($blue, 0.4);
  }
}

.choice-selected-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba($black, 0.15);
  background: $white;

  margin-bottom: 8px;
  @media screen and (min-width: 769px) {
    margin-bottom: 12px;
  }
}

.choice-selected-item-text {
  max-width: 300px;
  padding: 8px 4px;
}

.asset-selected-item-text {
  padding: 0 16px 8px 16px;
  @media screen and (max-width: 400px) {
    max-width: 200px;
  }
}

.choice-selected-button {
  height: 43px;
  width: 43px;
  padding: 0;
}

.choice-selected-button-delete {
  color: $red !important;
}

.list-icon {
  margin-bottom: -3px;
}
