@import "../styles/colors";
$lgrey: #f8f7f4;
$grey: #D9D9D9;

.unit-box {
    min-height: 80px;
    background-color: rgba($lgrey, 30%);
    border: 1px solid $grey;
    @media print {
        width: calc(50% - 8px);
        max-width: 800px;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }
    @media screen and (min-width: 481px) {
        width: calc(50% - 8px);
        max-width: 800px;
    }
}
.unit-name-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background: $lgrey;
    border-bottom: 2px solid $grey;
}
.unit-body {
    background: rgba(white, 50%);
    padding: 8px 16px;
}
.unit-stats-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.unit-stat {
    font-weight: 700;
    font-size: 22px;
    align-items: center;
    display: flex;
    margin-left: 8px;
    :first-child {
        margin-left: 0;
    }
    margin-left: 24px;
}

.unit-stat-block {
    display: flex;
    align-items: center;
}

.unit-stat-icon {
    margin-right: 4px;
    height: 25px;
    width: 25px;
}
.unit-special {
}